<% layout('base') -%>
<% block('title', title) -%>

<div class="container text-center mt-4">
    <h1 class="py-5">Oh god ! An error just spawn :'(</h1>
    <h3> <%= error %> </h3>
    <a href="/games"><button class="btn btn-dark btn-lg mt-4">Return to the website</button></a>
</div>
